<div class="card p-7" id="body">
    <div class="flex justify-content-center flex-wrap card-container">
        <div class="surface-card p-4 shadow-8 border-round lg:w-6">
            <div class="flex align-items-center justify-content-center">
                <div class="text-center mb-5">
                    <img src="../../../assets/img/LogoHome.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido a AllPro inmobiliaria</div>
                    <div class="text-800 text-3xl font-medium mb-3">Inicia sesión</div>
                    <span class="text-600 font-medium line-height-3">¿No tienes una cuenta?</span>
                    <a routerLink="/register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">¡Crea
                        una!</a>
                </div>
            </div>
            <div class="text-center w-full">
                <form [formGroup]="formUser" (ngSubmit)="Login()">
                    <label for="email1" class="block text-900 font-medium mb-2">Nombre de usuario</label>
                    <input id="email1" FormControlName="usuario" type="text" pInputText class="w-80 mb-3">
    
                    <label for="password1" class="block text-900 font-medium mb-2">Contraseña</label>
                    <input id="password1" FormControlName="contrasenia" type="password" pInputText class="w-80 mb-3">
                    <br>
                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Recuérdame</label>
                    <a class="font-medium no-underline ml-6 text-blue-500 text-right cursor-pointer">¿Olvidaste tu
                        contraseña?</a>
                    <br><br>
                    <button pButton type="submit" pRipple label="Iniciar Sesión" icon="pi pi-user" class="mr-5 w-4"></button>
                    <button pButton pRipple routerLink="" label="Regresar" icon="pi pi-times"
                        class="p-button-danger w-4"></button>
                </form>
            </div>
        </div>
    </div>
</div>