<app-menu></app-menu>
<div class="card p-4">
    <div class="flex justify-content-center card-container">
        <div class="surface-card text-center w-12">
            <div class="flex align-items-center justify-content-center">
                <div class="text-center mb-5">
                    <h1><i class="pi pi-dollar" style="font-size: 30px;"></i> Mis Propiedades</h1>
                    <button pButton pRipple icon="pi pi-plus" label="Agregar nuevo" (click)="newProperty()"
                        class="p-button p-button-success"></button>
                </div>
            </div>
            <p-card *ngFor="let item of propertys" header="{{item.TypeHouse}} - {{item.Location}}" subheader="{{item.Description}}"
                [style]="{width: '360px', display: 'inline-block', 'margin-top': '10px'}" styleClass="p-card-shadow" class="mr-4">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../../assets/img/img1.jpg">
                </ng-template>
                <ng-template pTemplate="body">
                    <ul class="text-left">
                        <li style="list-style-type: none;"><strong>Área: </strong>{{item.Area}}</li>
                        <li style="list-style-type: none;"><strong>Locación: </strong>{{item.Location}}</li>
                        <li style="list-style-type: none;"><strong>Estrato: </strong>{{item.Stratum}}</li>
                        <li style="list-style-type: none;"><strong>Dirección: </strong>{{item.Address}}</li>
                        <li style="list-style-type: none;"><strong>Habitaciones: </strong>{{item.Num_rooms}}</li>
                        <li style="list-style-type: none;"><strong>Baño(s): </strong>{{item.Num_bathrooms}}</li>
                        <li style="list-style-type: none;"><strong>Parqueadero: </strong>{{item.Parking}}</li>
                        <li style="list-style-type: none;"><strong>Precio: </strong>{{item.Price}}</li>
                        <li style="list-style-type: none;"><strong>Para: </strong>{{item.TypeProperty}}</li>
                    </ul>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button label="Ver más..." (click)="seemore(item.PropertyID)"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<app-footer></app-footer>