<app-menu></app-menu>
<div class="grid grid-nogutter surface-section text-800 p-4">
    <div class="col-5 md:col-5 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-5">Bienvenido 
                <span class="text-6xl text-primary font-bold mb-1">{{userName}}</span>
            </span>
        </section>
    </div>
    <div class="col-7 md:col-7 p-6 md:text-center align-items-center shadow-6 border-round">
        <section>
            <span class="block text-6xl font-bold mb-1"><i class="pi pi-bolt text-4xl"></i> Novedades y Noticias</span>
            <h1>¡Conoce esta nueva casa de lujo!</h1>
            <div class="card">
                <div class="flex justify-content-center flex-wrap card-container" style="min-height: 200px">
                    <div class="flex justify-content-center justify-content-center m-2"
                        style="min-width: 200px; min-height: 150px">
                        <img alt="Card" height="400px" width="500px" src="../../../assets/img/img2.jpg">
        
                    </div>
                    <div class="flex align-items-center justify-content-center m-2"
                        style="min-width: 200px; min-height: 100px; max-width: 500px;">
                        <h3>Una casa lujosa, cerca a la playa, con un enorme lugar de descanso para tu y tu familia. No te pierdas esta maravillosa oportunidad de tener la casa de tus sueños.</h3>
                        <br>
                    </div>
                    <button pButton pRipple label="Conoce más"></button>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>