<div class="footer">
    <div class="flex align-items-center justify-content-center m-4">
        <img src="../../../assets/img/LogoHome.png" width="200" height="100">
    </div>
    <hr width="90%">
    <div class="card" style="width: 90%; margin: auto;">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
            <div class="flex align-items-center justify-content-center w-12rem h-4rem m-2">
                <h5>AllPro Inmobiliaria &copy;</h5>
            </div>
            <div class="flex align-items-center justify-content-center w-12rem h-4rem m-2">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-instagram"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-vimeo"></i>
            </div>
        </div>
    </div>
</div>
